---
layout: post
slug: photos
title: 相册
noDate: 'true'
comments: 'true'
reward: 'true'
open_in_new: false
abbrlink: e26d1860
---

<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
    <a class="photos-btn" href="/photos">Photos</a>
    <a class="photos-btn active" href="/photos/videos.html">Videos</a>
</div>


<center><h1>编程其实并不难</h1></center>
<hr/>

<center>
<div class="video-container">
<iframe height="80%" width="80%" src="//player.bilibili.com/player.html?aid=21837659&bvid=BV1EW411K7ov&cid=36040522&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</div>
</center>

<hr/>


<center><h1>you will never be alone</h1></center>
<hr/>

<center>
<div class="video-container">
<iframe height="80%" width="80%" src="//player.bilibili.com/player.html?aid=51789128&cid=90663245&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</div>
</center>

<hr/>

<center><h1>安菲尔德奇迹</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%" src="//player.bilibili.com/player.html?aid=52215503&cid=91424836&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
</div>
</center>

<hr/>

<center><h1>飞思卡尔比赛</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%" controls src="//player.bilibili.com/player.html?aid=97043072&cid=165673494&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
</div>
</center>

<hr/>

<center><h1>旋转相册</h1></center>
<hr/>
<center>
<div class="video-container">
<iframe height="80%" width="80%"  src="//player.bilibili.com/player.html?aid=89824746&cid=153414806&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen=true>
</iframe>
</div>
</center>

